body {
    background-color: #141519;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    width: 80%;
    /* background-color: gray; */
}

/* Components sec */
/* ------------------------------------------------------------------------------- */

.special-header {
    margin-top: 100px;
    text-align: center;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 800;
}

.special-header h2 {
    color: white;
}

.special-header span {
    color: #CF9F12;
}

.outter-frame {
    margin: auto;
    width: 200px;
    position: relative;
    margin-top: -15px;
}

.outter-line {
    margin: auto;
    background-color: #CF9F12;
    width: 200px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
}

.inner-line {
    background-color: #CF9F12;
    width: 70px;
    height: 4px;
    border-radius: 1px;
    right: 65;
    top: -1;
    position: absolute;
}

/* Header sec */
/* ------------------------------------------------------------------------------- */
.header {
    background-color: #23252B;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    height: 65px;
    width: 90px;
    float: left;
    margin-left: 100px;
}

.brand-name {
    float: left;
    color: #D0A012;
    margin-top: 20px;
    font-weight: bold;
    font-size: 23px;
    margin-left: -10px;
}

.links {
    float: left;
    list-style: none;
    margin-left: 50px;
    font-size: 16px;
}

.links li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 13px;
}

.option {
    text-decoration: none;
    color: #dadada;
}

.option:hover {
    color: white;
}

.option:focus {
    color: white;
}

.premium {
    overflow: auto;
    margin: auto;
    float: left;
    width: 100px;
    height: 60px;
    margin-left: 130px;
    padding: 10px 0 0 12px;
}

.crown {
    float: left;
    margin-top: 14px;
    margin-right: 6px;
    font-size: 20px;
    color: #FAB818;
}

.text {
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #FAB818;
}

.inner-text {
    color: white;
}

.premium:hover {
    background-color: #141519;
}

.drop {
    position: relative;
    overflow: auto;
}

.user-icon {
    float: right;
    font-size: 25px;
    margin: 20px 75px 0 0px;
    color: #dadada;
}

/* .drop-down {

    list-style: none;
    background-color: #1e2025;
    position: absolute;
    float: right;
    width: 340px;
    right: 65;
    height: 215px;
    margin-top: 115px;
    display: none;
    z-index: 1;
}

.drop-down::before {
    content: "";
    position: absolute;
}

.drop:hover .drop-down {
    display: block;
}

.account {
    padding: 14px 24px;
}

.title {
    color: #DADADA;
    font-size: 20px;
}

.sub-title {
    color: #a0a0a0;
    font-size: 14px;
    margin-top: -18px;
}

.account:hover {
    background-color: #23252B;
} */

/* Landing sec */
/* ------------------------------------------------------------------------------- */
.landing {
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(11\).jpg);
    background-size: cover;
    height: 100%;
    text-align: center;
}

.landing .title {
    color: #141519;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 0.01;
    text-transform: uppercase;
    padding-top: 150px;
}

.intro {
    margin: auto;
    width: 800px;
    margin-bottom: 30px;
    margin-top: -20px;
    text-transform: capitalize;
    font-size: 17px;
}

.landing .btn {
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    border: 0;
    margin: -5px 30px 0 15px;
    font-size: 16px;
    background-color: #23252B;
    color: white;
    opacity: 0.97;
}

.landing .b2 {
    background-color: midnightblue;
}

.landing .btn:hover {
    opacity: 1;
}

/* Services sec */
/* ------------------------------------------------------------------------------- */
