body {
    background-color: #141519;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    width: 1250px;
    /* background-color: gray; */
}

/* Components sec */
/* ------------------------------------------------------------------------------- */

.special-header {
    margin-top: 100px;
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 800;
}

.special-header h2 {
    color: white;
}

.special-header span {
    color: #CF9F12;
}

.outter-frame {
    margin: auto;
    margin-bottom: 45px;
    width: 200px;
    position: relative;
    margin-top: -15px;
}

.outter-line {
    margin: auto;
    background-color: #CF9F12;
    width: 200px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
}

.inner-line {
    background-color: #CF9F12;
    width: 70px;
    height: 4px;
    border-radius: 1px;
    right: 65;
    top: -1;
    position: absolute;
}

/* Header sec */
/* ------------------------------------------------------------------------------- */
.header {
    background-color: #23252B;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    height: 65px;
    width: 90px;
    float: left;
    margin-left: 100px;
}

.brand-name {
    float: left;
    color: #D0A012;
    margin-top: 20px;
    font-weight: bold;
    font-size: 23px;
    margin-left: -10px;
}

.links {
    float: left;
    list-style: none;
    margin-left: 50px;
    font-size: 16px;
}

.links li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 13px;
}

.option {
    text-decoration: none;
    color: #dadada;
    position: relative;
    transition: 0.3s;
}

.option::before {
    content: "";
    position: absolute;
    bottom: -8;
    left: 0;
    height: 2px;
    width: 0px;
    background-color: #CF9F12;
    transition: 0.4s;
}

.option::after {
    content: "";
    position: absolute;
    bottom: -8;
    right: 0;
    height: 2px;
    width: 0px;
    background-color: #CF9F12;
    transition: 0.4s;
}

.option:hover::before {
    width: 50%;
}

.option:hover::after {
    width: 50%;
}

.option:focus::before {
    width: 50%;
}

.option:focus::after {
    width: 50%;
}

.option:hover {
    color: white;
}

.option:focus {
    color: white;
}

.premium {
    overflow: auto;
    margin: auto;
    float: left;
    width: 100px;
    height: 60px;
    margin-left: 130px;
    padding: 10px 0 0 12px;
    transition: 0.3s;
}

.crown {
    float: left;
    margin-top: 14px;
    margin-right: 6px;
    font-size: 20px;
    color: #FAB818;
}

.text {
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #FAB818;
}

.inner-text {
    color: white;
}

.premium:hover {
    background-color: #141519;
}

.drop {
    position: relative;
    overflow: auto;
}

.user-icon {
    float: right;
    font-size: 25px;
    margin: 20px 75px 0 0px;
    color: #dadada;
}

/* .drop-down {
    list-style: none;
    background-color: #1e2025;
    position: absolute;
    float: right;
    width: 340px;
    right: 65;
    height: 215px;
    margin-top: 115px;
    display: none;
    z-index: 1;
}

.drop-down::before {
    content: "";
    position: absolute;
}

.drop:hover .drop-down {
    display: block;
}

.account {
    padding: 14px 24px;
}

.title {
    color: #DADADA;
    font-size: 20px;
}

.sub-title {
    color: #a0a0a0;
    font-size: 14px;
    margin-top: -18px;
}

.account:hover {
    background-color: #23252B;
} */

/* Landing sec */
/* ------------------------------------------------------------------------------- */
.landing {
    background-image: url(../images/wepik-export-20230920213716B5WT.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(28, 26, 49, 0.3);
}

.landing .title {
    color: #D0A012;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 0.01;
    text-transform: uppercase;
    padding-top: 300px;
}

.intro {
    margin: auto;
    width: 800px;
    margin-bottom: 30px;
    margin-top: -20px;
    color: white;
    text-transform: capitalize;
    font-size: 17px;
}

.landing .btn {
    padding: 15px;
    width: 200px;
    margin: -5px 30px 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #1F1F26;
    color: #D0A012;
    border: 2px solid #D0A012;
    transition: 0.3s;
}

.landing .b2 {
    background-color: #1F1F26;
}

.landing .btn:hover {
    color: #e9c55a;
    border-color: #e9c55a;
}

/* Services sec */
/* ------------------------------------------------------------------------------- */
.services {
    padding-left: 25px;
    overflow: auto;
}

.service-item {
    position: relative;
    float: left;
    width: 330px;
    margin: 10px;
    background-color: #23252B;
    padding: 20px 25px;
    text-align: center;
    color: white;
    overflow: hidden;
}

.service-card {
    position: relative;
    z-index: 10;
}

.service-card a {
    text-decoration: none;
}

.service-card a .service-icon {
    font-size: 26px;
    width: 40px;
    height: 40px;
    padding: 15px 8px 0px 8px;
    border-radius: 5px;
    background-color: #CF9F12;
    color: #fff;
    transition: 0.5s;
}

.service-name {
    text-transform: capitalize;
    text-align: center;
}

.service-desc {
    color: #e2e2e2;
}

.read-more {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    position: relative;
}

.read-more::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #CF9F12;
    transition: 0.5s;
}

.cir {
    position: absolute;
    top: -50;
    right: -50;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #CF9F12;
    transition: 0.5s;
}

.service-item:hover .cir {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    opacity: 0.8;
}

.service-item:hover .service-card .service-icon {
    background-color: #23252B;
    color: white;
    border-radius: 50%;
}

.service-item:hover .service-card .read-more::after {
    background-color: #23252B;
}

/* Content Categories sec */
/* ------------------------------------------------------------------------------- */
.categories-content {
    overflow: hidden;
    margin-left: 7px;
}

.categories-item {
    width: 30%;
    float: left;
    padding: 20px;
    position: relative;
}

.categories-item img {
    width: 100%;
    height: 380px;
}

.categories-item .content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    transition: 0.5s;
}

.categories-item:hover .content {
    opacity: 1;
    visibility: visible;
}

.content-layer {
    padding: 70px 40px;
}

.content-layer h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    position: relative;
    opacity: 0;
    top: -20;
    visibility: hidden;
    transition: 0.5s;
}

.content-layer p {
    text-transform: capitalize;
    color: white;
    position: relative;
    opacity: 0;
    top: -20;
    visibility: hidden;
    transition: 0.5s;
}

.content-layer i {
    font-size: 24px;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 5px;
    color: #141519;
    background-color: #FAB818;
    position: relative;
    top: -20;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.categories-item:hover .content .content-layer h2 {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.categories-item:hover .content .content-layer p {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.categories-item:hover .content .content-layer i {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.content .content-layer i:hover {
    background-color: #141519;
    color: white;
    border-radius: 50%;
}

/* News sec */
/* ------------------------------------------------------------------------------- */

.news {
    background-color: #f47521;
    width: 100%;
    height: 725px;
    margin-top: 100px;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}

.leaning {
    position: absolute;
    left: -83;
    bottom: 0;
    width: 250px;
    height: 550px;
}

.news-content {
    background-color: #000000;
    color: white;
    padding: 10px 25px;
    z-index: 1;
}

.news-head {
    overflow: auto;
}

.news-head h2 {
    font-size: 30px;
    float: left;
}

.news-head p {
    float: right;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 37px;
    font-weight: 700;
    color: #bdbdbd;
}

.news-head i {
    display: block;
    float: right;
    font-size: 13px;
    margin-top: 38px;
    margin-left: 5px;
    font-weight: 700;
    color: #bdbdbd;
}

.news-columns {
    overflow: auto;
    margin-top: -15px;
}

.top-news {
    float: left;
    width: 33%;
    margin-right: 5px;
}

.latest-news {
    float: left;
    width: 66%;
}

.news-title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}

.top-news-item {
    padding: 6px 0 6px 12px;
    transition: 0.3s;
}

.top-news-item .top-news-item-img {
    width: 370px;
    height: 175px;
}

.top-news-item .top-news-item-title {
    font-size: 18px;
    width: 340px;
    text-transform: capitalize;
}

.top-news-item .top-news-item-details {
    font-size: 12px;
    color: #bdbdbd;
    margin-top: -5px;
}

.top-news-item:hover {
    background-color: #141519;
}

.latest-news-item {
    padding: 12px 0 12px 12px;
    transition: 0.3s;
    overflow: auto;
    transition: 0.3s;
}

.latest-news-item .latest-news-item-img {
    float: left;
    width: 180px;
    height: 80px;
    margin-right: 10px;
}

.text-content {
    float: left;
    width: 580px;
}

.latest-news-item .latest-news-item-title {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 2px;
}

.latest-news-item .latest-news-item-details {
    font-size: 12px;
    color: #bdbdbd;
    margin-top: -5px;
}

.latest-news-item:hover {
    background-color: #141519;
}

/* Statistics sec */
/* ------------------------------------------------------------------------------- */
.statistics {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../images/18057944_sep11.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.statistics-overlay {
    background-color: rgba(28, 26, 49, 0.3);
}

.statistics-box {
    overflow: auto;
    padding: 120px 100px;
}

.statistics-item {
    float: left;
    width: 200px;
    text-align: center;
    color: white;
    margin: 0px 21px;
    padding: 10px 10px;
}

.statistics-item i {
    font-size: 28px;
    margin-bottom: -7px;
    padding: 15px;
    border-radius: 20px;
    background-color: #f47521;
}

.statistics-item h2 {
    font-size: 38px;
    font-weight: 700;
}

.statistics-item p {
    font-size: 15px;
    margin-top: -24px;
}

/* Recommendations sec */
/* ------------------------------------------------------------------------------- */
.recommendations {
    position: relative;
    background-color: #000000;
    padding: 30px 0 20px 0;
    color: white;
}

.recommendations .left {
    position: absolute;
    top: 50%;
    left: 50;
    font-size: 24px;
    font-weight: 800;
}

.recommendations .right {
    position: absolute;
    top: 50%;
    right: 50;
    font-size: 24px;
    font-weight: 800;
}

.recommendations-content {
    overflow: auto;
}

.recommendations-content .text-content {
    float: left;
}

.recommendations-content .text-content .title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.recommendations-content .text-content .title::before {
    content: '';
    position: absolute;
    bottom: -4;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: #f47521;
}

.recommendations-content .text-content .lang {
    overflow: auto;
    margin-top: -25px;
}

.recommendations-content .text-content .lang .content-type {
    float: left;
    color: #2ABDBB;
    font-size: 16px;
    font-weight: 600;
    margin-right: 7px;
}

.recommendations-content .text-content .lang .lang-type {
    float: left;
    color: #bdbdbd;
    font-size: 15px;
    font-weight: 400;
    margin-right: 6px;
    margin-left: 6px;
}

.recommendations-content .text-content .lang div {
    float: left;
    height: 20px;
    width: 1px;
    background-color: #bdbdbd;
    margin-top: 13px;
}

.recommendations-content .text-content .rate {
    overflow: auto;
    margin-top: -20px;
    margin-bottom: 12px;
}

.recommendations-content .text-content .rate .avg-rate {
    float: left;
    font-size: 15px;
    margin-right: 6px;
    transition: 0.3s;
}

.recommendations-content .text-content .rate .avg-rate span {
    font-weight: bold;
    font-size: 16px;
}

.recommendations-content .text-content .rate .avg-rate:hover {
    text-decoration: underline;
}

.recommendations-content .text-content .rate div {
    float: left;
    height: 20px;
    width: 1px;
    background-color: #bdbdbd;
    margin-top: 13px;
}

.recommendations-content .text-content .rate .review {
    float: left;
    font-size: 15px;
    margin-left: 6px;
    transition: 0.3s;
}

.recommendations-content .text-content .rate .review:hover {
    text-decoration: underline;
}

.recommendations-content .text-content .whatchlist {
    width: 220px;
    height: 50px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #000000;
    color: #f47521;
    border: 2px solid #f47521;
    transition: 0.3s;
}

.recommendations-content .text-content .whatchlist i {
    margin-right: 8px;
    font-size: 18px;
}

.recommendations-content .text-content .whatchlist:hover {
    color: #FF944D;
    border-color: #FF944D;
}

.recommendations-content .text-content .medialist {
    width: 220px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #000000;
    color: #a0a0a0;
    border: 0;
    transition: 0.3s;
}

.recommendations-content .text-content .medialist i {
    margin-right: 8px;
    font-size: 18px;
}

.recommendations-content .text-content .medialist:hover {
    background-color: #141519;
}

.recommendations-content .text-content .description {
    line-height: 24px;
    font-size: 18px;
    margin-top: 30px;
}

.recommendations-content .text-content .genres {
    float: left;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: #192E38;
    transition: 0.3s;
}

.recommendations-content .text-content .genres:hover {
    background-color: #254352;
}

.recommendations-content .image-content {
    float: left;
    width: 670px;
}

.recommendations-content .image-content img {
    width: 350px;
    height: 520px;
    display: block;
    margin: auto;
}

.recommendations-content .image-content .cirs {
    list-style: none;
    margin-left: 260px;
}

.recommendations-content .image-content .cirs li {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 7px;
    border-radius: 50%;
    border: 2px solid #2ABDBB;
    background-color: white;
}

.recommendations-content .image-content .cirs .active {
    background-color: #2ABDBB;
}

.recommendations-content .image-content .cirs li:hover {
    background-color: #2ABDBB;
}

/* Authors sec */
/* ------------------------------------------------------------------------------- */
.authors {
    position: relative;
}

.authors .left {
    position: absolute;
    top: 50%;
    left: 50;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.authors .right {
    position: absolute;
    top: 50%;
    right: 50;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.authors-content {
    overflow: auto;
}

.author {
    float: left;
    margin-top: 30px;
    padding-top: 10px;
    width: 30%;
    height: 525px;
    position: relative;
    overflow: hidden;
}

.authors-content .center {
    margin: 30px 5% 0 5%;
}

.author-img {
    margin: auto;
    width: 90%;
    position: relative;
}

.author-img img {
    width: 100%;
    height: 400px;
}

.author-img .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    transition: 0.5s;
}

.author:hover .img-overlay {
    visibility: visible;
    opacity: 1;
}

.author-img .img-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #CF9F12;
    color: #fff;
    font-size: 23px;
    margin-left: auto;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: 0.3s;
}

.author-img .img-overlay a i {
    line-height: 40px;
}

.author-img .img-overlay a:hover {
    background-color: #23252B;
    border-radius: 50%;
}

.author-name {
    color: white;
    text-align: center;
}

.author-work {
    color: white;
    text-align: center;
    margin-top: -8px;
}

.author::after {
    content: "";
    position: absolute;
    bottom: -50;
    right: -50;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #a0a0a0;
    opacity: 0.1;
    transition: 0.5s;
    z-index: -1;
}

.author:hover::after {
    width: 150%;
    height: 150%;
    border-radius: 0;
}

/* Book Recommendations sec */
/* ------------------------------------------------------------------------------- */
.books-recommendations {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../images/books.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}

.books-recommendations-overlay {
    background-color: rgba(0, 0, 0, 0.65);
}

.books-recommendations .left {
    position: absolute;
    top: 50%;
    left: 50;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.books-recommendations .right {
    position: absolute;
    top: 50%;
    right: 50;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.books-content {
    overflow: auto;
    padding: 120px 100px;
}

.books-recommendations .book {
    float: left;
    width: 45%;
}

.point {
    margin: 0 5%;
}

.upper-content {
    overflow: auto;
}

.book .book-img {
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
}

.book .book-name {
    font-size: 20px;
    color: white;
}

.book .book-lang {
    overflow: auto;
    margin-top: -20px;
}

.book-lang .content-type {
    float: left;
    color: #2ABDBB;
    font-size: 16px;
    font-weight: 600;
    margin-right: 7px;
    margin-left: 0;
}

.book-lang .content-type:hover {
    text-decoration: underline;
}

.book-lang .lang-type {
    float: left;
    color: #bdbdbd;
    font-size: 15px;
    font-weight: 400;
    margin-right: 6px;
    margin-left: 6px;
}

.book-lang div {
    float: left;
    height: 20px;
    width: 1px;
    background-color: #bdbdbd;
    margin-top: 13px;
}

.book p {
    color: white;
    margin-left: 7px;
}

/* Behind the Scenes */
/* ------------------------------------------------------------------------------- */
.behind-scenes {
    position: relative;
}

.behind-scenes .left {
    position: absolute;
    top: 50%;
    left: 50;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.behind-scenes .right {
    position: absolute;
    top: 50%;
    right: 50;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.behind-scenes-content {
    overflow: auto;
    margin-top: 40px;
}

.one-show-content {
    padding: 20px 0;
    width: 30%;
    float: left;
    transition: 0.3s;
}

.one-show-content:hover {
    background-color: #23252B;
}

.center-show {
    margin-left: 5%;
    margin-right: 5%;
}

.one-show-content .image-container {
    position: relative;
}

.one-show-content .image-container img {
    width: 90%;
    margin: 0 5%;
    height: 450px;
}

.one-show-content .image-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    padding: 15px 20px;
    background-color: #141519b0;
    border-radius: 50%;
    visibility: hidden;
    /* transition: 0.3s; */
}

.one-show-content:hover .image-container i {
    visibility: visible;
    background-color: #141519;
}

.reactions {
    list-style: none;
    margin-top: -3px;
    margin-left: 20px;
    padding: 0;
    color: white;
}

.reactions li {
    display: inline-block;
    margin-right: 12px;
}

.reactions li p {
    color: #bdbdbd;
    font-size: 14px;
}

.reactions li p:hover {
    text-decoration: underline;
}

.reactions li i {
    font-size: 18px;
}

.reactions li .like:hover {
    color: red;
}

.show-name {
    color: white;
    margin-left: 20px;
    margin-top: -10px;
}

.show-description {
    color: white;
    margin-left: 23px;
    margin-top: -10px;
}

.read-more-link {
    text-decoration: none;
    color: white;
    margin-left: 23px;
    margin-top: -10px;
    position: relative;
}

.read-more-link::after {
    content: "";
    position: absolute;
    bottom: -5;
    left: 0;
    width: 80px;
    height: 2px;
    color: #CF9F12;
    background-color: #CF9F12;
}

/* Prices sec */
/* ------------------------------------------------------------------------------- */
.cards {
    overflow: auto;
}

.plan-card {
    background-color: #23252B;
    float: left;
    border-radius: 5px;
    margin-top: 30px;
    padding: 5px 25px 0px 25px;
    width: 24%;
}

.plan-name {
    text-align: center;
    font-size: 26px;
    color: white;
}

.most-popular {
    border: 1px solid #D0A012;
    margin-left: 7.80%;
    margin-right: 7.50%;
}

.popular {
    text-align: center;
    font-size: 20px;
    margin-top: -12px;
    color: #D0A012;
}

.cir-2 {
    margin: auto;
    text-align: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #fab818;
}

.price {
    font-size: 22px;
    margin-bottom: -8px;
    color: white;
}

.price-int {
    color: white;
    font-size: 16px;
}

.taxes {
    text-align: center;
    color: #a0a0a0;
    font-size: 12px;
}

.subscribe {
    margin: auto;
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fab818;
    background-color: #23252B;
    border: 2px solid;
    transition: 0.3s;
}

.subscribe:hover {
    color: white;
}

.no-trial {
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 550;
    transition: 0.3s;
}

.no-trial:hover {
    color: #dddddd;
}

.description {
    color: white;
}

.line {
    margin: auto;
    width: 160px;
    height: 2px;
    background-color: #a0a0a0;
}

.adds {
    margin-left: -23px;
}

.plus {
    color: white;
    padding: 6px;
}

.devices-num {
    color: #D0A012;
}

.line-through {
    color: #a0a0a0;
    text-decoration: line-through;
}

/* Footer sec */
/* ------------------------------------------------------------------------------- */
.footer {
    padding: 40px 0;
    margin-top: 100px;
    text-align: center;
    background-color: black;
}

.footer img {
    margin: auto;
}

.footer h2 {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}

.footer button {
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: #000000;
    color: #f47521;
    border: 2px solid #f47521;
    transition: 0.3s;
}

.footer button:hover {
    color: #FF944D;
    border-color: #FF944D;
}

.footer .icons-list {
    list-style: none;
    margin-left: -40px;
}

.footer .icons-list li {
    display: inline-block;
}

.footer .icons-list li a {
    text-decoration: none;
}

.footer .icons-list li a i {
    padding: 15px;
    font-size: 28px;
    font-weight: 600;
    border-radius: 50%;
    margin: 15px 10px;
    color: #000000;
    background-color: #f47521;
    transition: 0.3s;
}

.footer .icons-list li a i:hover {
    background-color: #f36607;
}

.icons-list li div {
    width: 2px;
    height: 35px;
    background-color: #f47521;
    color: #f47521;
    margin-bottom: -10px;
}

.footer .copyright {
    margin-top: 45px;
    color: white;
}

.footer .copyright span {
    font-weight: bold;
    color: #f47521;
}